.cardSliderItem {
    width: 330px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    position: relative;
}

.cardSliderItem img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.cardSliderItem h4 {
    font-size: 20px;
    font-family: Tahoma;
    text-transform: uppercase;
}

.cardSliderItem .textBlock {
    width: 100%;
    height: inherit;
    background: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Tahoma;
    opacity: 0;
    overflow: auto;
    transition: all .5s;
}

.cardSliderItem .textBlock::-webkit-scrollbar {
    width: 10px;
}

.cardSliderItem .textBlock:hover {
    opacity: 1;
}