.accordion {
    max-width: 400px;
    padding: 10px;
    margin: 10px auto;
    background: #E7B4EC;
    font-weight: 600;
}

.accordionHeading {
    display: flex;
    flex-direction: column;
}

.accordionHeading .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.accordionHeading .text {
    font-size: 14px;
}

.accordionHeading i {
    font-size: 20px;
    cursor: pointer;
}

.accordion .accordionBody {
    width: 100%;
    height: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .8s ease-in-out;
}

.accordion .accordionBody ul {
    display: none;
}

.accordion .showAccordionBody {
    width: 100%;
    height: 300px;
    opacity: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: all .8s ease-in-out;
}

.accordion .showAccordionBody ul {
    display: block;
}